<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pawlliance.com.pawlliance">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="pawlliance.com.pawlliance.permission.MAPS_RECEIVE" />

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="pawlliance.com.pawlliance.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- APP ENTRY POINT ACTIVITY -->
        <activity android:name=".activities.AppEntryPoint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.AppEntryPoint" />

        <!-- SIGN-UP ACTIVITY PAGE 1 -->
        <activity
            android:name=".activities.SignUpActivityPart1"
            android:parentActivityName=".activities.AppEntryPoint" />

        <!-- SIGN-UP ACTIVITY PAGE 2 -->
        <activity
            android:name=".activities.SignUpActivityPart2"
            android:parentActivityName=".activities.SignUpActivityPart1" />

        <!-- LOGIN MAIN AREA ACTIVITY -->
        <activity
            android:name=".activities.LoginAreaMain"
            android:parentActivityName=".activities.LoginActivity" />

        <!-- DATABASEHELPER -->
        <activity
            android:name=".databasedata.AndroidDatabaseManager"
            android:label="@string/app_name" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBeYSYSxrMhZkBPap75JLDDxrMhr7VBaJI" />

        <!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBeYSYSxrMhZkBPap75JLDDxrMhr7VBaJI" />
        -->
        <activity
            android:name=".activities.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".activities.LoginAreaMain" />

        <!-- FIND NEW FRIENDS LOGIN AREA MAIN -->
        <activity
            android:name=".activities.MyPawllianceFriendsLoginArea"
            android:parentActivityName=".activities.LoginAreaMain" />

        <!-- EDIT PROFILE INFORMATION MAIN LOGIN AREA -->
        <activity
            android:name=".activities.EditProfileInformationMainLoginArea"
            android:parentActivityName=".activities.LoginAreaMain" />

        <!-- POPUP EDIT DOG DESCRIPTION  android:theme="@style/PopUpTheme" -->
        <activity
            android:name=".popups.PopUpEditDescription"
            android:parentActivityName=".activities.EditProfileInformationMainLoginArea" />
        <activity android:name=".popups.PopUpEditBirthday" />
        <activity android:name=".popups.PopUpEditDogBreed" />
        <activity android:name=".popups.PopUpDeleteAccount" />
        <activity android:name=".popups.PopUpEditDogName" />
        <activity android:name=".popups.PopUpEditCity" />
        <activity android:name=".popups.PopUpEditPassword" />
        <activity android:name=".popups.PopUpThanksForTheDogWalk"></activity>
    </application>

</manifest>