<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pawlliance.com.pawlliance">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- APP ENTRY POINT ACTIVITY -->
        <activity android:name=".activities.AppEntryPoint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.AppEntryPoint" />

        <!-- SIGN-UP ACTIVITY PAGE 1 -->
        <activity
            android:name=".activities.SignUpActivityPart1"
            android:parentActivityName=".activities.AppEntryPoint" />

        <!-- SIGN-UP ACTIVITY PAGE 2-->
        <activity
            android:name=".activities.SignUpActivityPart2"
            android:parentActivityName=".activities.SignUpActivityPart1"/>

        <!-- LOGIN MAIN AREA ACTIVITY -->
        <activity
            android:name=".activities.LoginAreaMain"
            android:parentActivityName=".activities.LoginActivity"/>

        <!-- DATABASEHELPER -->
        <activity android:name=".databasedata.AndroidDatabaseManager"
            android:label="@string/app_name"/>
    </application>

</manifest>